  /* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5d77f; /* Couleur de fond rappelant la région Lorraine */
    }
    
    /* Style de l'en-tête */
    header {
    background-color: #1c2e4a;
    color: white;
    padding: 20px;
    }
    
    header h1 {
    margin: 0;
    font-size: 36px;
    }
    
    header span {
    color: #ffffff;
    font-size: 24px;
    }
    
    /* Style des titres */
    h1, h2, h3, h4, h5, h6, div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #1c2e4a;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    }
    .title {
        display: block;
    }
    
  
    /* Style des paragraphes */
    p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    /* Style de la liste des impressions */
    ul {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    padding-left: 20px;
    }
    
    /* Style des liens */
    a {
    color: #0072c6;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    /* Style du pied de page */
    footer {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
    }
    
    /* Style des éléments dans le pied de page */
    footer p {
    margin: 0;
    font-size: 14px;
    }