/* Définir les styles pour le corps de la page */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5d77f; /* Couleur de fond rappelant la région Lorraine */
  display: grid;
  grid-template-columns: 3fr 5fr ;
  grid-template-rows: auto auto  4fr 1fr;
}

/* Définir les styles pour l'en-tête */

#entete {
  background-color: #333;
  color: #fff;
  padding: 10px;
  grid-row: 1;
  grid-column: span 2;
  text-align: center;
}

#entete h1 {
  margin: 0;
  font-size: 50px;
  text-transform: uppercase;
} 

/* Styles pour les images */

#entete img {
  float: left;
  margin-left: 20px;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* Définir les styles pour la navigation */

nav {
  background-color: #fff;
  border-bottom: 1px solid #000000;
  grid-row: 2;
  grid-column: span 2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #333;
  color: #f5d77f;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}




/* Définir les styles pour le contenu principal */
  
section {
  grid-gap: 40px;
  max-width: 1200px;
  margin:  0;
  padding: 40px;
  grid-row: 3;
  grid-column: 1;
}

article {
  margin-right: 40px;
}


/* Styles pour les titres de section et d'article */

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* Définir les styles pour le pied de page */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  grid-row: 4;
  grid-column: span 2;
  margin-top: 100px;
}

footer p {
  margin: 0;
}