/*

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5d77f;
  justify-content: space-around;
    }

    article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: start;
       
    }


    header {
    background-color: #1c2e4a;
    color: #ffffff;;
    padding: 10px;
    }

    header h0 {
    color: #ffffff;
    font-size: 24px;
        
    }


    h1, h2, h3, h4, h5, h6, div {
        
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #1c2e4a;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    }
    
    
    p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    

    ul {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    padding-left: 20px;
    }


    footer {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
    }
    footer p {
    margin: 0;
    font-size: 14px;
    }
    
/* Servicetest.css */

/* Reset des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour l'en-tête */
#entete {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
}

img {
  max-height: 100px;
}

/* Styles pour la navigation */
nav {
  background-color: #eee;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}

/* Styles pour le contenu principal */
section {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 30px 0;
}

h2 {
  font-size: 1.8em;
  margin: 20px 0;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}

li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Styles pour le système de réservation */
form {
  display: flex;
  flex-wrap: wrap;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

